# Ignore large data files 
*.csv
*.xlsx
*.xls
*.mat
*.h5
*.jmpprj
*.jmp

# Ignore specific directories 
#/Data/

# Ignore IDE settings
.vscode/
.Rhistory
.Rproj.user/
.RData

# Ignore system files
.DS_Store
Thumbs.db 